<h2>Update <%= @student.name %>
</h2>
<% if @student.errors.any? %>
    <% @student.errors.full_messages.each do |message| %>
        <div>
            <%= message %>
        </div>
        <% end %>
            <% end %>
                <div>
                    <%= form_with(model: @student, url: student_path) do |f| %>
                        <%= f.label :name %>
                            <%= f.text_field :name %>
                                <%= f.label :age %>
                                    <%= f.text_field :age %>
                                        <%= f.submit %>
                                            <% end %>
                </div>